<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
  <div fxFlex="50" *ngIf="dish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
        <!-- <button md-button (click)="goBack()">BACK</button> -->
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>
  <div *ngIf="dish">
    <div fxFlex="5"></div>
    <div fxFlex="95">
      <md-list>
        <h2>Comments</h2>
        <md-list-item *ngFor="let comment of dish.comments">
          <p md-line>{{comment.comment}}</p>
          <p md-line>{{comment.rating}} stars</p>
          <p md-line><i>-- {{comment.author}}, </i><span>{{comment.date | date}}</span></p>
        </md-list-item>
      </md-list>
      <md-list class="comment-preview" *ngIf="(!commentForm.invalid)">
          <h3>Your comment Preview</h3>
          <md-list-item>
            <p md-line>{{commentForm.value.comment}}</p>
            <p md-line>{{commentForm.value.rating}} stars</p>
            <p md-line><i>-- {{commentForm.value.author}} </i></p>
          </md-list-item>
        </md-list>
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <p>
          <!-- mat-form-field covers 100% of the width -->
          <md-input-container dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
            <input mdInput formControlName="author" placeholder="Name *" type="text">
            <md-hint *ngIf="(formErrors.author)">
              <span>{{formErrors.author}}</span>
            </md-hint>
          </md-input-container>
        </p>
        <md-slider min="1" max="5" step="1" value="5" thumbLabel tickInterval="1" formControlName="rating" [value]="5"></md-slider>
        <p>
          <md-input-container dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
            <textarea mdInput formControlName="comment" placeholder="Your comment *" rows="8"></textarea>
            <md-hint *ngIf="(formErrors.comment)">
                 <span>{{formErrors.comment}}</span>
            </md-hint>
          </md-input-container>
        </p>
        <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">
          Submit
        </button>
      </form>
    </div>
    
    
  </div>
  <div [hidden]="dish">
      <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
</div>

