<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
  <div fxFlex="50">
    <div *ngIf="dish">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src={{dish.image}} alt={{dish.name}}>
        <md-card-content>
          <p>{{dish.description}}</p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div fxFlex="50">
    <div *ngIf="dish">
      <md-card>
      	<md-card-header>
          <md-card-title>
            <h3>COMMENTS</h3>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item *ngFor="let comment of dish.comments">
              <p md-line>{{comment.comment}}</p>
              <p md-line>{{comment.rating}} stars</p>
              <p md-line><i>-- {{comment.author}}, </i><span>{{comment.date | date}}</span></p>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
